<div class="custom-section" {{ section.shopify_attributes }}>
  <div class="hero-custom-baner page-width ">
    <div class="hero-custom-baner-image">
      <img
        class="hero-custom-baner-image_left"
        src="https://www.telion.ch/thumbor/Nex-V9jdg3jSh_Vl0RUzPuyO1XQ=/filters:cachevalid(2022-12-02T15:45:21.304717):strip_icc():strip_exif()/cms/cms/illustrationen/service-b2b-shop.png"
        width="200px"
      >
    </div>
    <div class="hero_section_title">
      <h1 class="hero_section_title_h1">{{ section.settings.hero_title_custom }}</h1>
      <p class="hero_section_title_text">{{ section.settings.hero_title_text }}</p>
      <button class="hero_section_title_button" type="button">Register</button>
    </div>
  </div>
</div>

{{ 'custom.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Hero Custom",
  "tag": "section",
  "class": "section_hero",
  "settings": [
    {
      "type": "text",
      "id": "hero_title_custom",
      "default": "НАДІЙНИЙ ПАРТНЕР ВАШОГО БІЗНЕСУ",
      "label": "Hero Heading"
    },
    {
      "type": "text",
      "id": "hero_title_text",
      "default": "hgfhghghg",
      "label": "Hero Text"
    }
  ],

  "presets": [
    {
      "name": "Hero Custom"
    }
  ]
}
{% endschema %}
