<div class="custom-section">
  <div class="hero-custom-baner"></div>
</div>
{{ 'custom.css' | asset_url | stylesheet_tag }}
{% schema %}
{
  "name": "Hero Custom", // Name Herro
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    }
  ],
  "blocks": [
    {
      "type": "products",
      "name": "Section Hero",
      "settings": [
        {
          "type": "text",
          "id": "Hero-footer_linklist_title",
          "label": "Hero Heading"
        },
        {
          "type": "color_background",
          "id": "Hero-background",
          "label": "Hero-Background",
          "default": "linear-gradient(#ffffff, #000000)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Custom"
    }
  ]
}
{% endschema %}
