<div class="hero-custom-section">
  <div class="hero-custom-container">
    <div>Bla-bla</div>
  </div>
</div>
{{ 'custom.css' | asset_url | stylesheet_tag }}
{% schema %}
{
  "name": "Hero Custom", // Name Herro
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    }
  ],
  "blocks": [
    {
      "type": "products",
      "name": "Section Hero"
    }
  ],
  "presets": [
    {
      "name": "Hero Custom"
    }
  ]
}
{% endschema %}
