/* Header */
.header-wrapper--border-bottom{
    border-bottom: none;
}
/* Change header border bottom */
/* Header */
.section-template--17025109033206__916eb672-e25b-4499-b5bb-338db5317cb7-padding .rich-text__blocks center .rich-text__buttons rich-text__buttons--multiple scroll-trigger animate--slide-in a .button 
.button--secondary{
    background-color: hotpink;
    border-radius: 8px;
}

.section-template--17025109033206__916eb672-e25b-4499-b5bb-338db5317cb7-padding.button:hover {
    text-decoration: underline 2px red;
}

.banner__content banner__content--middle-left page-width scroll-trigger animate--slide-in .collection-hero__image-container media gradient{
  background: white;
}

.hero-custom-container{
    width: 300px;
    height: 300px;
    background-color: aqua;
}