/* Header */
.header-wrapper--border-bottom{
    border-bottom: none;
}
/* Change header border bottom */
/* Header */
.section-template--17025109033206__916eb672-e25b-4499-b5bb-338db5317cb7-padding .rich-text__blocks center .rich-text__buttons rich-text__buttons--multiple scroll-trigger animate--slide-in a .button 
.button--secondary{
    background-color: hotpink;
    border-radius: 8px;
}

.section-template--17025109033206__916eb672-e25b-4499-b5bb-338db5317cb7-padding.button:hover {
    text-decoration: underline 2px red;
}

.banner__content banner__content--middle-left page-width scroll-trigger animate--slide-in .collection-hero__image-container media gradient{
  background: white;
}

/* .custom-section{
    
} */

.hero-custom-baner{
    min-width: 300px;
    min-height: 600px;
    background: linear-gradient(73deg, 
    rgba(40, 166, 215, .848), 
    rgba(67, 109, 201, .74) 65.66%, 
    rgba(36, 60, 168, .24));
    overflow: hidden;
    /* content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4003.2 383.7' xml:space='preserve'%3E%3Cpath fill='%23FFF' d='M2090.6 32.9C1526.8 197.6 519.1 503 0 137.4v246.3h4000V222.2c-592.5 16.4-1436.1-327.6-1909.4-189.3z'/%3E%3C/svg%3E"); */


}
